$primary-color: #80d4ff;
$primary-dark-color: #1ab2ff;
$inverse-color: white;
$inverse-light-color: #eee;
$highlight-color: red;
$gray-light: #777;

.default-header {
  background-color: $primary-color;
}

